body {
    background-color: #f0f2f6;
}
h1 {
    color: #2c3e50;
    text-align: center;
}
div.stButton > button {
    background-color: #2c3e50;
    color: white;
    width: 100%;
}
div.stSuccess {
    font-size: 20px;
    font-weight: bold;
}